<style>
.boxReindeer {
  position: relative;
  margin: auto;
  display: block;
  width: 600px;
  height: 420px;
  margin-top: 25%;
}

.faceReindeer {
  position: absolute;
  height: 70%;
  width: 40%;
  left: 30%;
  background: #CD853F;
  border-radius:  50%  50%  50%  50%  / 80%   80%   40%  40%;
}

.faceReindeer-copy {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #CD853F;
  border-radius:  50%  50%  50%  50%  / 80%   80%   40%  40%;
  z-index: 2;
}

.earReindeer-left {
  position: absolute;
  width: 15%;
  height: 20%;
  left: 5%;
  background: #CD853F;
  border-radius: 50% 50% 50% 50% / 50% 50% 90% 90%;
  transform: rotate(-60deg);
  z-index: 1;
}

.earReindeer-right {
  position: absolute;
  width: 15%;
  height: 20%;
  left: 80%;
  background: #CD853F;
  border-radius: 50% 50% 50% 50% / 50% 50% 90% 90%;
  transform: rotate(60deg);
  z-index: 1;
}

.earReindeer-inner {
  bottom: 20%;
  margin-top: 30%;
  background: #8B4513;
  width: 35%;
  height: 80%;
  margin-left: 32%;
  border-radius: 70% 70%;
}

.eyeReindeer-left {
  position: absolute;
  background: white;
  width: 15%;
  height: 13%;
  left: 30%;
  top: 30%;
  z-index: 2;
  border-radius: 50%;
}

.eyeReindeer-right {
  background: white;
  width: 15%;
  height: 13%;
  position: absolute;
  left: 55%;
  top: 30%;
  z-index: 2;
  border-radius: 50%;
}

.eyeReindeer-left-inner, .eyeReindeer-right-inner {
  background: black;
  width: 70%;
  height: 70%;
  border-radius: 50%;
  margin-top: 25%;
  z-index: 3;
}

.eyeReindeer-left-inner {
    margin-left: 20%;
}

.eyeReindeer-right-inner {
    margin-left: 10%;
}

.pupilReindeer {
  position: absolute;
  background: white;
  width: 30%;
  height: 30%;
  z-index: 4;
  border-radius: 50%;
  left: 35%;
}

.noseReindeer {
  position: absolute;
  background: #603311;
  width: 50%;
  height: 30%;
  border-radius: 50%;
  margin-left: 25%;
  z-index: 4;
  margin-top: 65%;
}

.inner-noseReindeer {
  position: absolute;
  width: 85%;
  margin-top: 1%;
  height: 90%;
  background: #8B4513;
  border-radius: 50%;
  border-top-right-radius: 45%;
  transform: rotate(-10deg)
}

.hornReindeer-left, .hornReindeer-right {
  position: absolute;
  margin-left: 15%;
  margin-top: -80%;
  width: 10%;
  height: 80%;
  background: #8B4513;
  transform: rotate(-20deg);
  border-radius: 70% 70% 50% 50% / 50% 50% 50% 50%;
}

.hornReindeer-left-bottom, .hornReindeer-left-top, .hornReindeer-left-middle, .hornReindeer-right-bottom, .hornReindeer-right-middle, .hornReindeer-right-top {
  background: #8B4513;
  position: absolute;
  width: 90%;
  height: 35%;
  transform: rotate(60deg);
  margin-top: 500%;
  margin-left: 108%;
  border-radius: 0.5em 2em 0.5em 2em;
}

.hornReindeer-left-top {
  margin-top: 20%;
}

.hornReindeer-left-middle {
  transform: rotate(-60deg);
  margin-top: 250%;
  margin-left: -110%;
}

.hornReindeer-right {
  margin-left: 75%;
  transform: rotate(21deg);
}

.hornReindeer-right-bottom, .hornReindeer-right-top {
  background: #8B4513;
  transform: rotate(-60deg);
  margin-left: -110%;
  border-radius: 2em 0.5em 0.5em 2em;
}

.hornReindeer-right-top {
  margin-top: 20%;
}

.hornReindeer-right-middle {
  margin-top: 250%;
}
</style>

<div class="boxReindeer">
<!--Head -->
<div class="faceReindeer">
  <div class="faceReindeer-copy"></div>

  <div class="earReindeer-left">
    <div class="earReindeer-inner"></div>
  </div>

  <div class="earReindeer-right">
    <div class="earReindeer-inner"></div>
  </div>

  <div class="eyeReindeer-left">
    <div class="eyeReindeer-left-inner">
      <div class="pupilReindeer"></div>
    </div>
  </div>

  <div class="eyeReindeer-right">
    <div class="eyeReindeer-right-inner">
      <div class="pupilReindeer"></div>
    </div>
  </div>

  <div class="noseReindeer">
    <div class="inner-noseReindeer"></div>
  </div>

  <div class="hornReindeer-left">
    <div class="hornReindeer-left-bottom"></div>
    <div class="hornReindeer-left-middle"></div>
    <div class="hornReindeer-left-top"></div>
  </div>
  <div class="hornReindeer-right">
    <div class="hornReindeer-right-bottom"></div>
    <div class="hornReindeer-right-middle"></div>
    <div class="hornReindeer-right-top"></div>
  </div>

<!-- Closing Face -->
</div>

<!-- Closing Box -->
</div>

<p style="text-align:center">
    Credits to <a href="https://codepen.io/sidrao/pen/aBrMdE">Sid Rao</a> for html.
</p>
