<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Page Not Found - alexjercan</title>
        <link rel="icon" type="image/png" href="/favicon.ico" />
        <link rel="stylesheet" href="/reset.css" />
        <link rel="stylesheet" href="/main.css" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.xml">

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <main class="error-page">
            <header class="site-header">
                <!-- Add some cool stuff here -->
            </header>

            <h1 class="error-title">404 - Page Not Found</h1>

            <p>Sorry, we couldn’t find the page you were looking for.</p>
            <p>
                <a href="/" class="button">Go back home</a>
            </p>

            <footer class="site-footer">
                <p>
                    &copy; Alex Jercan 2025
                    | Built from scratch in <strong>C</strong> with <a href="https://github.com/alexjercan/alexjercan.github.io">distr</a>
                    | <a href="/rss.xml" class="rss-link">RSS</a>
                </p>
            </footer>
        </main>
    </body>
</html>
