<!DOCTYPE html>
<html>
    <head>
        <title>alexjercan</title>
        <link rel="icon" type="image/png" href="/favicon.ico" />
        <link rel="stylesheet" href="/reset.css" />
        <link rel="stylesheet" href="/main.css" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.xml">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta property="og:title" content="{% write(post.meta.title); %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://alexjercan.github.io/{% write(post.id); %}" />
        <meta property="og:image" content="https://alexjercan.github.io/favicon.png" />
        <meta property="og:description" content="{% write(post.meta.description); %}" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="alexjercan" />

        <meta name="twitter:card" content="summary_large_image">
    </head>
    <body>
        <header class="site-header"></header>

        <main>
            <article>
                <h1 class="post-title">
                    {% write(post.meta.title); %}
                </h1>

                <header class="post-header">
                    {% if (post.meta.tags.count > 0) { %}
                        <ul class="tags">
                            {% for (size_t i = 0; i < post.meta.tags.count; i++) { %}
                                {% Aids_String_Slice *tag = NULL; %}
                                {% aids_array_get(&post.meta.tags, i, (unsigned char **)&tag); %}
                                <li class="tag">#{% write(*tag); %}</li>
                            {% } %}
                        </ul>
                    {% } %}
                </header>

                <section class="post-content">
                    <pre>
                        {% markdown(post.content); %}
                    </pre>
                </section>

                <footer class="post-footer"></footer>
            </article>

            <nav class="pagination">
                <ul class="pagination-list">
                    <li>
                        {% if (post.meta.prev.len > 0) { %}
                        <a href="/{% write(post.meta.prev); %}" class="pagination-link" rel="prev">&lt;| Prev</a>
                        {% } else { %}
                        <span class="pagination-link disabled" rel="prev">&lt;| Prev</span>
                        {% } %}
                    </li>

                    <li>
                        <a href="/" class="pagination-link" rel="home">Home</a>
                    </li>

                    <li>
                        {% if (post.meta.next.len > 0) { %}
                        <a href="/{% write(post.meta.next); %}" class="pagination-link" rel="next">Next |&gt;</a>
                        {% } else { %}
                        <span class="pagination-link disabled" rel="next">Next |&gt;</span>
                        {% } %}
                    </li>
                </ul>
            </nav>
        </main>

        <footer class="site-footer">
            <p>
                &copy; Alex Jercan 2025 | Built from scratch in <strong>C</strong> with <a href="https://github.com/alexjercan/alexjercan.github.io">distr</a>.
            </p>
        </footer>
    </body>
</html>
