<!DOCTYPE html>
<html lang="en">
    <head>
        <title>alexjercan</title>
        <link rel="icon" type="image/png" href="/favicon.ico" />
        <link rel="stylesheet" href="/reset.css" />
        <link rel="stylesheet" href="/main.css" />
        <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss.xml">

        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <meta property="og:title" content="{% write(post.meta.title); %}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://alexjercan.github.io/{% write_id(post.id); %}" />
        <meta property="og:image" content="https://alexjercan.github.io/favicon.png" />
        <meta property="og:description" content="{% write(post.meta.description); %}" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:site_name" content="alexjercan" />

        <meta name="twitter:card" content="summary_large_image">

        <!-- KaTeX CSS and JS for math rendering https://www.jsdelivr.com/package/npm/katex -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.28/dist/katex.min.css" integrity="sha384-Wsr4Nh3yrvMf2KCebJchRJoVo1gTU6kcP05uRSh5NV3sj9+a8IomuJoQzf3sMq4T" crossorigin="anonymous">
        <!-- The loading of KaTeX is deferred to speed up page rendering -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.28/dist/katex.min.js" integrity="sha384-+W9OcrYK2/bD7BmUAk+xeFAyKp0QjyRQUCxeU31dfyTt/FrPsUgaBTLLkVf33qWt" crossorigin="anonymous"></script>
        <!-- To automatically render math in text elements, include the auto-render extension: -->
        <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.28/dist/contrib/auto-render.min.js" integrity="sha384-hCXGrW6PitJEwbkoStFjeJxv+fSOOQKOPbJxSfM6G5sWZjAyWhXiTIIAmQqnlLlh" crossorigin="anonymous"
            onload="renderMathInElement(document.body);"></script>
    </head>
    <body>
        <main>
            <header class="site-header">
                <!-- Add some cool stuff here -->
            </header>

            <article>
                <header class="post-header">
                    <!-- Optional header content, like a banner or image -->
                </header>

                <h1 class="post-title">{% write(post.meta.title); %}</h1>

                <section class="post-meta">
                    {% if (post.meta.tags.count > 0) { %}
                        <ul class="tags">
                            {% for (size_t i = 0; i < post.meta.tags.count; i++) { %}
                                {% Aids_String_Slice *tag = NULL; %}
                                {% aids_array_get(&post.meta.tags, i, (void **)&tag); %}
                                <li class="tag"><a href="/tags/{% write(*tag); %}">#{% write(*tag); %}</a></li>
                            {% } %}
                        </ul>
                    {% } %}
                    {% if (post.meta.reading_time > 0) { %}
                        <span class="reading-time">{% write_size_t(post.meta.reading_time); %} min read</span>
                    {% } %}
                </section>

                <section class="post-content">
                    {% markdown(post.content); %}
                </section>

                <footer class="post-footer">
                    <!-- Optional additional info -->
                </footer>
            </article>

            <nav class="pagination">
                <ul class="pagination-list">
                    <li>
                        <a href="/0001" class="pagination-link" rel="first">|&lt;| First</a>
                    </li>

                    <li>
                        {% if (post.meta.prev > 0) { %}
                        <a href="/{% write_id(post.meta.prev); %}" class="pagination-link" rel="prev">&lt;| Prev</a>
                        {% } else { %}
                        <span class="pagination-link disabled" rel="prev">&lt;| Prev</span>
                        {% } %}
                    </li>

                    <li>
                        <a href="/" class="pagination-link" rel="home">Home</a>
                    </li>

                    <li>
                        {% if (post.meta.next > 0) { %}
                        <a href="/{% write_id(post.meta.next); %}" class="pagination-link" rel="next">Next |&gt;</a>
                        {% } else { %}
                        <span class="pagination-link disabled" rel="next">Next |&gt;</span>
                        {% } %}
                    </li>
                </ul>
            </nav>

            <footer class="site-footer">
                <p>
                &copy; Alex Jercan 2025
                | Built from scratch in <strong>C</strong> with <a href="https://github.com/alexjercan/alexjercan.github.io">distr</a>
                | <a href="/rss.xml" class="rss-link">RSS</a>
                </p>
            </footer>
        </main>
    </body>
</html>
